body.archive.post-type-archive-material   .material
.thumbnail .thumbnail-link  img.wp-post-image,
body.archive   .material
.thumbnail .thumbnail-link  img.wp-post-image{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
