// add style for gallery in single post

.single.single-format-gallery   	.thumbnail	.gallery-format{
  opacity: 1;
  visibility: visible;
  height: auto;
  }
//    opacity: 0; //  1
//    visibility: hidden; // visible
//    height: 0;  //  auto
